name: 02-Paralelo (xdist)
on: 
  workflow_dispatch:

jobs:
  test-parallel:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python (System)
        run: |
          python3 -m venv venv
          echo "$GITHUB_WORKSPACE/venv/bin" >> $GITHUB_PATH

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Iniciar Medição (Eco-CI)
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          task: start-measurement
          label: 'parallel-run'

      - name: Rodar Testes (Paralelo)
        run: |
          # Adiciona o diretório raiz ao PYTHONPATH
          export PYTHONPATH=$GITHUB_WORKSPACE:$PYTHONPATH
          # -n auto usa todos os núcleos disponíveis
          pytest -n auto src/test_app.py -v

      - name: Coletar Métricas
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          task: get-measurement
          label: 'parallel-tests'
          
      - name: Exibir Resultados
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          task: display-results
          json-output: true