name: 03-TIA (Test Impact Analysis)
on: 
  workflow_dispatch:

jobs:
  test-tia:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Necessário para o TIA ler o git history

      # Cache do banco de dados do testmon
      - name: Restaurar Cache TIA
        uses: actions/cache/restore@v3
        with:
          path: .testmondata
          key: testmon-${{ runner.os }}-${{ github.ref }}
          restore-keys: |
            testmon-${{ runner.os }}-

      - name: Setup Python (System)
        run: |
          python3 -m venv venv
          echo "$GITHUB_WORKSPACE/venv/bin" >> $GITHUB_PATH

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Iniciar Medição (Eco-CI)
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          task: start-measurement
          label: 'tia-run'

      - name: Rodar Testes (TIA)
        run: |
          # --testmon executa apenas o que foi impactado
          python -m pytest --testmon src/test_app.py -v

      - name: Coletar Métricas
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          task: get-measurement
          label: 'tia-tests'

      # Salva o banco de dados atualizado
      - name: Salvar Cache TIA
        uses: actions/cache/save@v3
        with:
          path: .testmondata
          key: testmon-${{ runner.os }}-${{ github.ref }}-${{ github.run_id }}

      - name: Exibir Resultados
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          task: display-results
          json-output: true

      - name: Salvar Resultados como Artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: eco-ci-tia-${{ github.run_id }}
          path: |
            /tmp/eco-ci/
            .eco-ci-output.json
          retention-days: 30